<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AceTheExams - To-Do List</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+TC|Nunito'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container">
    <section class="header">
      <div class="text"><span class="day" v-text="day"> </span><span class="yearMonth"><b class="year" v-text="year"></b><b class="month" v-text="month"> </b></span><span v-text="timeMessage"></span><span class="week" v-text="currentWeek"> </span></div>
    </section>
    <section class="addTask"> 
      <input placeholder="+ Add task" v-model="newTodo" @keyup.enter="addTodo"/><a class="btn btn--add" @click="addTodo">+</a>
    </section>
    <section class="content">
      <ul class="todoList">
        <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
          <div class="d-flex" v-if="item.id !== cacheTodo.id">
            <div class="form-check">
              <label class="form-check-label" :class="{'completed': item.completed }" :for="item.id">{{ item.title }}
                <input class="form-check-input" type="checkbox" v-model="item.completed" :id="item.id"/><span class="checkmark"></span>
              </label>
            </div>
            <button class="close ml-auto" type="button" aria-label="Close" @click="removeTodo(item)"><span aria-hidden="true">&times;</span></button>
          </div>
          <input class="form-control" type="text" v-model="cacheTodoTitle" @keyup.esc="cancelEdit()" @keyup.enter="doneEdit(item)" v-if="item.id === cacheTodo.id"/>
        </li>
      </ul>
    </section>
    <div class="filters">
      <button class="btn filters__btn filters__btn--all" :class="{'active': visibility == 'all'}" @click="visibility = 'all'">All</button>
      <button class="btn filters__btn filters__btn--complete" :class="{'active': visibility == 'completed'}" @click="visibility = 'completed'">Complete</button>
      <button class="btn filters__btn filters__btn--incomplete" :class="{'active': visibility == 'doing'}" @click="visibility = 'doing'">Incomplete</button>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
